.card-list {
    --card-width: 14rem;
    --card-column: 3;
    --card-overflow-y: hidden;
    --card-overflow-x: scroll;
    --card-scroll-snap: x mandatory;
    --card-gap: 0;

    --item-snap-align: center;
    --item-margin: 0;
    --item-padding: 0;

    --align-card-list-content: stretch;


    margin: var(--h4) 0 0;
    padding: 0 0 var(--small-text);
    display: grid;
    grid-template-columns: repeat(var(--card-column), minmax(var(--card-width), 1fr));
    overflow-y: var(--card-overflow-y);
    overflow-x: var(--card-overflow-x);
    scroll-snap-type: var(--card-scroll-snap);
    gap: var(--card-gap);
    align-content: var(--align-card-list-content);
    position: relative;
}





.card-list .card-item {
    scroll-snap-align: var(--item-snap-align);
    margin: var(--item-margin);
    padding: var(--item-padding);
}


.card-item.card-cta {
    --border-color: var(--dark-gray);
    --text-color: var(--white);

    --card-item-btn-bg: #999;

    background-color: var(--border-color);
    border-color: var(--border-color);
}

.card-cta-text {
    margin: 0;
    color: var(--text-color);
}

.card-item .card-cta-btn {
    background-color: var(--card-item-btn-bg);
    border-color: var(--card-item-btn-bg);
    color: var(--text-color);
}

.social-list {
    display: grid;
    gap: 1rem;
}



.service-list {
    --mouse-y: 50%;
    --mouse-x: 50%;
    --card-width: 14rem;
    --card-column: 5;
    --card-gap: 0;

    --item-margin: 0;
    --item-padding: 2rem 1rem;
    position: relative;
}





.service-item {
    --border-color: #aaa;

    background-color: transparent;
    display: grid;
    align-content: start;
    align-items: end;
    overflow: hidden;
}

.service-item:not(:first-of-type) {
    border-color: var(--border-color);
    border-width: 0.1rem;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.service-item-number,
.service-item-title,
.service-item-text {
    mix-blend-mode: difference;
}

.service-item-title,
.service-item-text {
    color: var(--white);
}

.service-item-number {
    font-size: var(--h2);
    font-weight: 600;
    color: #aaa;
    line-height: 1.1;
}

.service-item-title {
    margin: var(--h2) 0 0;
    font-size: var(--h6);
    font-weight: 500;
    line-height: 1.2;
    text-wrap: balance;
}

.service-item-text  {
    text-wrap: pretty;
}

.service-item:last-of-type {
    align-content: center;
}

.service-item:last-of-type .service-item-title {
    margin: 0;
    font-size: var(--h5);
}

.service-item-text {
    font-size: var(--small-text);
    margin: 0.5rem 0 0;
}

.service-btn {
    margin: var(--h4) 0 0;
}


.section.portfolio {
    --mouse-y: 50%;
    --mouse-x: 50%;
    position: relative;
}

.portfolio-list {
    --card-width: 14rem;
    --card-column: 6;
    --card-gap: 1rem;

    --item-margin: 0;
    /* --item-padding: 2rem 0; */
}

.portfolio-item {
    --mouse-y: 50%;
    --mouse-x: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #aaa;
    text-decoration: none;
    transition: filter 0.5s ease-in-out;
}

.pic {
    width: 100%;
}

.pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top center;
}

.portfolio-pic {
    aspect-ratio: 5 / 4;
}

.portfolio-name,
.portfolio-type,
.portfolio-category {
    font-size: var(--micro-text);
    line-height: 1.1;
    margin: 0;
}

.portfolio-item::after {
    content: 'View';
    position: absolute;
    top: var(--mouse-y);
    left: var(--mouse-x);
    translate: -50% -50%;
    rotate: -5deg;
    min-width: var(--h1);
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    background-color: rgb(0 0 0 / 0.75);
    color: var(--white);
    border-radius: 100rem;
    padding: 1rem;
    font-size: var(--p);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    z-index: 5;
    scale: 0;
    transition: scale 0.15s ease-in-out;
}

.testimonial-list {
    --card-width: 14.25rem;
    --card-column: 4;
    --card-gap: 1rem;
    --item-padding: 0.75rem;
}

.testimonial-item {
    border-width: 0.1rem;
    border-color: #aaa;
    border-style: solid;
    grid-template-rows: 1fr  3rem auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.testimonial-text,
.testimonial-company-position {
    margin: 0;
}

.testimonial-text {
    font-weight: 500;
    font-size: calc(var(--p) * 0.8);
}

.testimonial-name-position {
    margin: var(--h5) 0 0;
}

.testimonial-author {
    font-size: var(--small-text);
    font-weight: 600;
    text-transform: uppercase;
    margin: auto 0 0;
}

.testimonial-item.card-cta {
    background-color: var(--dark-gray);
    mix-blend-mode: unset;
}

.testimonial-company-position {
    font-size: calc(var(--p) * 0.5);
}

.btn.testimonial-cta-btn {
    margin: var(--h5) 0 0;
    mix-blend-mode: unset;
    background-color: var(--black);
    border-color: var(--black);
}

.btn.testimonial-cta-btn:hover {
    border-color: var(--white);
}


.section.cta {
    background: var(--light-gray);
}

.cta-heading-wrapper {
    display: flex;
    gap: 1rem;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: flex-start;
}

.profile-dp {
    --size-multiplier: 1.3;

    width: 100%;
    height: auto;
    max-width: calc(var(--h1) * var(--size-multiplier));
    aspect-ratio: 1 / 1;
    border-radius: 100vw;
    background: #aaa;
    margin: 0 auto 0 0;
}

.cta-content {
    margin: var(--h4) 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--h4);
}

.cta-btn {
    margin: 0 auto 0 0;
    padding: calc(var(--h5) / 1.5) calc(var(--h5) * 1.5);
    font-size: var(--h6);
    overflow: hidden;
}

.cta-btn .btn-text {
    color: currentColor;
}

footer.section {
    background-color: var(--black);
    color: var(--white);
    padding: var(--p) 0;
}

.footer-wrapper {
    --column-count: 1fr;
    --gap-size: 1rem;
    display: grid;
    grid-template-columns: var(--column-count);
    gap: var(--gap-size);
}

footer.section .text-link {
    color: #98bbff;
}

.footer-text {
    margin: 0;
    font-size: var(--small-text);
}



.back-to-top {
    --progress: 0%;
    display: grid;
    place-items: center;
    width: var(--h2);
    height: var(--h2);
    aspect-ratio: 1 / 1;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 500;
    color: var(--blue);
    margin: 0 0 0 auto;
    overflow: hidden;
    border: none;
    background-image: conic-gradient(var(--blue) var(--progress), var(--light-blue) 0);
    isolation: isolate;
}

.back-to-top::after {
    content: '';
    width: 90%;
    height: 90%;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    position: absolute;
    z-index: -1;
}

.progress-bar {
    position: absolute;
    scale: 0;
}

.progress-hidden {
    visibility: hidden;
}

.contact-form-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    padding: calc(var(--h1) * 2) 0 0;
    background-color: rgba(255 255 255 / 0.9);
    backdrop-filter: blur(8px);
    display: grid;
    translate: -100% 0;
    transition: translate 0.5s ease-in-out;
    z-index: 5000;
}

.contact-form-modal.show {
    translate: 0 0;
}

.contact-modal-close {
    width: var(--h2);
    position: absolute;
    top: var(--p);
    right: var(--p);
}


.contact-modal-body {
    padding: var(--h1) var(--p) var(--h1);
}

.contact-form-heading {
    font-size: var(--h1);
    letter-spacing: -2px;
}

.contact-submit {
    font-size: var(--h4);
}

.form-block {
    width: 100%;
    margin: var(--h2) 0 0;
}

.form-group:not(:first-of-type) {
    margin: var(--p) 0 0;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--p) / 6);
    position: relative;
}

.form-label,
.form-input,
.form-textarea {
    margin: 0;
    width: 100%;
    border-radius: 0;
}

.form-input,
.form-textarea {
    padding: calc(var(--p) / 3) calc(var(--p) / 2);
    background-color: var(--white);
    border-width: 0.1rem;
    border-color: var(--black);
    border-style: solid;
    box-sizing: border-box;
}

.utility-page-main .section {
    min-height: 100vh;
}

.wrapper.utility-wrapper {
    max-width: 60rem;
}

.utility-text,
.utility-btn {
    margin: var(--h6) 0 0;
}

/* @media (prefers-reduced-motion: no-preference) {

    @container (width > 90rem) {

        .home-h1 {
            animation-name: slide-out-left;
            animation-timing-function: linear;
            animation-timeline: view();
            animation-range: calc(var(--h1) * 5) calc(var(--h1) * 15);
        }

        .home-sub,
        .social-list {
            animation-name: slide-out-right;
            animation-timing-function: linear;
            animation-timeline: view();
            animation-range: calc(var(--h1) * 5) calc(var(--h1) * 15);
        }


        .portfolio-item.in-view {
            animation-name: slide-in-up;
            animation-timing-function: linear;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            opacity: 0;
            scale: 0;
        }

        .portfolio-item.in-view::after {
            scale: 0;
        }


        @keyframes slide-in-up {
            to {
                opacity: 1;
                scale: 1;
            }
        }

        @keyframes slide-out-left {
            to {
                translate: -100rem 0;
            }
        }

        @keyframes slide-out-right {
            to {
                translate: 100rem 0;
            }
        }



    }



} */


@media (width > 30rem) {
    body {
        --base-size: 1.5rem;
        --font-scale: 1.2;

        --h1: calc(var(--h2) * var(--font-scale));
        --h2: calc(var(--h3) * var(--font-scale));
        --h3: calc(var(--h4) * var(--font-scale));
        --h4: calc(var(--h5) * var(--font-scale));
        --h5: calc(var(--h6) * var(--font-scale));
        --h6: calc(var(--p) * var(--font-scale));
        --p: var(--base-size);

        --heading-letter-spacing: -3px;
    }

    /* body,
    .base,
    .content-grid,
    .full-width {
        --padding-x: 1.5rem;
        --content-max-width: 46rem;
        --content-max-width: 30rem;
        --breakout-max-width: 50rem;
        --breakout-max-width: 34rem;
    } */

    .wrapper {
        max-width: 55rem;
    }

    .nav-btn,
    .contact-modal-close,
    .back-to-top {
        height: var(--h3);
        width: var(--h3);
    }



    /* .full-width.nav-list {
        position: static;
        margin: 0 0 0 auto;
        width: auto;
        scale: 1;
        opacity: 1;
        gap: calc(var(--base-size) / 2);
        grid-column: auto;
        grid-template-columns: repeat(5, auto);
        align-items: center;
    } */

    .nav-list {
        padding: 0 var(--p);
        max-width: 60rem;
        justify-items: end;
    }

    .nav-btn-wrapper {
        max-width: 30rem;
        padding: var(--p) 0 0;
        /* display: grid; */
    }

    .nav-btn.nav-cta {
        margin: 0 0 0 auto;
    }



    .nav-item.nav-link {
        /* grid-column: auto; */
        line-height: 1.1;
        /* font-size: calc(var(--p) * 0.8); */
        /* display: grid; */
        place-items: center right;
    }



    .intro-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .home-h1 {
        grid-column: 1 / -1;
    }

    .social-list {
        grid-template-columns: 1fr 1fr;
    }

    .social-list-h {
        grid-column: 1 / -1;
    }


    /* .card-list {
        --card-width: 14rem;
        --card-column: 3;
        --card-overflow-x: scroll;
        --card-scroll-snap: x mandatory;
    } */



    .card-list {
        --card-overflow-x: auto;
        --card-scroll-snap: unset;
        --card-width: auto;
    }

    .service-list {
        --card-column: 2;
        --card-gap: 0;
        --item-padding: var(--h4) var(--p);
        overflow: hidden;
    }

    .service-item:last-of-type {
        grid-column: 1 / -1;
        /* border-color: transparent; */
        border-top-color: var(--border-color);
        border-right-color: var(--border-color);
        border-bottom-color: var(--border-color);
        border-width: 0.1rem;
        border-style: solid;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: var(--h5);
        margin: var(--h4) 0 0;
    }

    .service-item:nth-of-type(1),
    .service-item:nth-of-type(3) {
        border-left-color: transparent;
    }

    .service-item:nth-of-type(3),
    .service-item:nth-of-type(4) {
        border-top-color: var(--border-color);
    }

    .portfolio-list {
        --card-column: 2;
        --card-gap: var(--h5);
        --item-padding: 0;
    }

    .testimonial-list {
        --card-gap: var(--h5);
        --card-column: 2;
        --item-padding: var(--p);
    }
}

@media (width > 60rem) {
    body {
        --base-size: 1.5rem;
        --font-scale: 1.25;

        --h1: calc(var(--h2) * var(--font-scale));
        --h2: calc(var(--h3) * var(--font-scale));
        --h3: calc(var(--h4) * var(--font-scale));
        --h4: calc(var(--h5) * var(--font-scale));
        --h5: calc(var(--h6) * var(--font-scale));
        --h6: calc(var(--p) * var(--font-scale));
        --p: var(--base-size);

        /* --heading-letter-spacing: ; */
    }

    /* body,
    .base,
    .content-grid,
    .full-width {
        --padding-x: 1.5rem;
        --content-max-width: 66rem;
        --content-max-width: 60rem;
        --breakout-max-width: 72rem;
        --breakout-max-width: 66rem;
    } */

    .wrapper {
        max-width: 70rem;
    }

    .nav-btn,
    .contact-modal-close,
    .back-to-top {
        height: var(--h4);
        width: var(--h4);
    }

    .intro-wrapper {
        grid-template-columns: 1fr 25rem;
    }

    .home-h1 {
        grid-column: 1 / -1;
    }

    .service-list {
        --card-column: 4;
    }

    .service-list::after {
        content: '';
        background-color: var(--black);
        position: absolute;
        width: var(--h1);
        aspect-ratio: 1 / 1;
        top: var(--mouse-y);
        left: var(--mouse-x);
        translate: -50% -50%;
        border-radius: 100rem;
        z-index: -2;
        scale: 0;
        transition: scale 0.15s ease-in-out;
    }

    .service-item:nth-of-type(1),
    .service-item:nth-of-type(2),
    .service-item:nth-of-type(3),
    .service-item:nth-of-type(4) {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--border-color);
    }

    .service-item-title {
        margin: var(--h3) 0 0;
    }


    .cta-content {
        grid-template-columns: 1fr auto;
        align-items: start;
    }

    .cta-btn {
        margin: 0 auto auto;
    }


    .portfolio-item:not(:hover) {
        filter: grayscale(100%);
    }

    .contact-form-modal {
        padding: 0;
        align-items: end;
        justify-items: start;
        justify-content: start;
    }

    .contact-form-subtext {
        max-width: 50ch;
    }

    .wrapper.contact-modal-body {
        padding: var(--p) var(--p) var(--h3);
    }

    .form-block {
        margin: var(--h4) 0 0;
        max-width: 45rem;
    }

    .footer-wrapper {
        --column-count: 1fr auto;
        --gap-size: 1rem;
    }

}

@media (width > 75rem) {
    body {
        --base-size: 1.5rem;
        --font-scale: 1.3;

        --h1: calc(var(--h2) * var(--font-scale));
        --h2: calc(var(--h3) * var(--font-scale));
        --h3: calc(var(--h4) * var(--font-scale));
        --h4: calc(var(--h5) * var(--font-scale));
        --h5: calc(var(--h6) * var(--font-scale));
        --h6: calc(var(--p) * var(--font-scale));
        --p: var(--base-size);

    }

    .intro-wrapper {
        align-content: start;
    }

    .home-sub {
        grid-column: auto;
        margin: auto 0 0;
    }

    .home-h1 {
        grid-column: auto;
        grid-row: 1 / 3;
        margin: auto 0 0;
    }

    .service-btn {
        margin: 0;
    }

    .portfolio-list {
        --card-column: 3;
    }

    .portfolio-item:hover .btn.portfolio-item-btn {
        scale: 1;
        opacity: 1;
        transform-origin: left;
    }

}

@media (width > 80rem) {

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 0 -0.7rem;
    }

    .wrapper {
        max-width: 85rem;
    }

    .testimonial-list {
        --card-gap: var(--h5);
        --card-column: 4;
        --item-padding: var(--p);
    }

    .card-list.service-list:hover::after,
    .card-item.portfolio-item:hover::after {
        scale: 1;
    }

}

@media (width > 90rem) {
    body {
        --base-size: 1.5rem;
        --font-scale: 1.35;

        --h1: calc(var(--h2) * var(--font-scale));
        --h2: calc(var(--h3) * var(--font-scale));
        --h3: calc(var(--h4) * var(--font-scale));
        --h4: calc(var(--h5) * var(--font-scale));
        --h5: calc(var(--h6) * var(--font-scale));
        --h6: calc(var(--p) * var(--font-scale));
        --p: var(--base-size);
    }

    .wrapper {
        max-width: 95rem;
    }

    .section {
        padding: calc(var(--h1) * 1) 0;
    }

    .intro-wrapper {
        padding: calc(var(--h2) * 3) 0 0;
        grid-template-columns: 1fr 20rem;
    }

    .service-list {
        --card-column: 5;
    }

    .service-item:last-of-type {
        grid-column: auto;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        grid-template-columns: 1fr;
        margin: initial;
    }
}

@media (width > 100rem) {

}

@media (width > 120rem) {
    .wrapper {
        max-width: 115rem
    }
}
